<!DOCTYPE html>

<!-- 基础文件用于保存通用的内容 -->

<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>监控系统首页</title>
	{% load static %}
	<!-- <link rel="stylesheet" href="{% static 'home/style.css' %}"> -->
	<link rel="stylesheet" href="{% static 'bootstrap-4.6.2/css/bootstrap.min.css' %}">
	<link rel="icon" href="{% static 'home/img/logo.png' %}">

	<!-- 进行样式的补充 -->
	<style type="text/css" title="背景">
		body {
			background: #A2DCFA;
		}
	</style>
</head>

<!-- 以下是主体模板-->

<body>

{% block header%}
  {% include 'home/header.html' %}
{% endblock %}

{% block navbar%}
  {% include 'home/navbar.html' %}
{% endblock %}

{% block main %}{% endblock %}
{% block footer%}{% endblock %}

<script src="{% static 'jquery/jquery-3.6.1.js' %}"></script>
<script src="{% static 'poper/poper-2.11.6.js' %}"></script>
<script src="{% static 'bootstrap-4.6.2/js/bootstrap.min.js' %}"></script>

</body>
</html>
