<!DOCTYPE html>

<!-- 基础文件用于保存通用的内容 -->

<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>监控系统首页</title>
	{% load static %}
	<!-- <link rel="stylesheet" href="{% static 'home/style.css' %}"> -->
	<link rel="stylesheet" href="{% static 'bootstrap-4.6.2/css/bootstrap.min.css' %}">
	<link rel="icon" href="{% static 'home/img/logo.png' %}">

	<!-- 进行样式的补充 -->
	<style type="text/css" title="背景">
		body {
			box-sizing: border-box;
			font-family: 微软雅黑;
			margin: 0;
			background: #A2DCFA;
		}

		.sitenavbar {
			height: 100%;
			width: 12%;
			float: left;
			margin: 0;
			/* 内容居中 */
			text-align: center;
		}

		.imgblock {
			padding-top: 4%;
			padding-bottom: 6%;
			background: white;
			text-align: center;
		}

		.siteheader {
			height: 100%;
			width: 88%;
			float: right;
			margin: 0;
			/* 内容居中 */
			text-align: center;
		}


	</style>
</head>

<!-- 以下是主体模板-->

<body>

{% block header%}
  {% include 'home/header.html' %}
{% endblock %}

{% block navbar%}
  {% include 'home/navbar.html' %}
{% endblock %}

{% block main %}{% endblock %}
{% block footer%}{% endblock %}

<script src="{% static 'jquery/jquery-3.6.1.js' %}"></script>
<script src="{% static 'poper/poper-2.11.6.js' %}"></script>
<script src="{% static 'bootstrap-4.6.2/js/bootstrap.min.js' %}"></script>

</body>
</html>
