{% load static %}
<header>
	<div class = siteheader style="border: 4px; height: 50px; line-heigh: 50px; padding-top: 10px; padding-bottom: 10px; color: balck; font-weight:bold;">
		<div class = "loginfo" style = "padding-left: 10px; float: left">
			<img style="width:30px; height:20px;" src="{% static 'bootstrap-icons-1.10.2/globe-asia-australia.svg' %}" alt="首页">
			首页
		</div>
		<div class = "loginfo" style = "padding-right: 20px; float: right">
			<img style="width:30px; height:20px;" src="{% static 'bootstrap-icons-1.10.2/person-lines-fill.svg' %}" alt="账户">
			{{ login_account }}, 欢迎您！
		</div>
	</siteheader>
</header>
